body{
    background-color: rgb(231, 231, 231);
}
.navbar{
    width: 80%;
    margin:auto;
    background-color: #FFF;
    margin-top: 2rem;
    text-align: center;
    box-shadow: .1rem .1rem .7rem rgb(218, 218, 218) ;
}
.navText{
    display: inline-flex;
    font-size: 1.5rem;
    list-style: none;
    li{
        padding: 2rem;
    }
}
.carosol{
    width: 80%;
    height: 63rem;
    background-image: url("https://picsum.photos/1440/665/?random=13");
    margin:auto;
    object-fit: cover;
    box-shadow: .1rem .1rem .7rem rgb(218, 218, 218) ;
    position: relative;
    .more{
        width: 9rem;
        background-color: #000;
        color: #FFF;
        text-align: center;
        line-height: 3rem;
        position: absolute;
        top: 70%;
        left: 10%;
        &:hover{
            background-color: turquoise;
        }
    }
    h3{
        font-size: 3rem;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        position: absolute;
        top: 80%;
        left: 10%;
    }
}