.gallery-container {
  width: 80%;
  height: 10vh;
  margin: 0 auto;
}

.galleryList {
  width: 100%;
  /* margin-top: 50px; */
  text-align: center;
  background-color: rgb(235, 235, 235);
}
.galleryList p {
  width: 100%;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(54, 54, 54);
  padding-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
}
.box {
  width: 25%;
  height: 25%;
  margin: 30px;
  box-shadow: 1px 0.5px 6px rgb(211, 211, 211);
}

.box img {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  vertical-align: top;
  opacity: 1;
  /* transition-delay: 0.2s;
  transition-timing-function: ease-in-out; */
}

.box h3 {
  width: 100%;
  text-align: center;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 4rem;
  margin: 0;
}

.box:hover img {
  width: 100%;
  filter: brightness(0.8);
  object-fit: none;
  /* transition-delay: 1s;
  transition-timing-function: ease-out; */
}
