.gallery-container {
  width: 80%;
  height: 10vh;
  margin: 0 auto;
}

.galleryList {
  width: 100%;
  /* margin-top: 50px; */
  text-align: center;
  background-color: rgb(235, 235, 235);
}
.galleryList p {
  width: 100%;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(54, 54, 54);
  padding-top: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans TC", sans-serif;
}
.box {
  position: relative;
  width: 90%;
  max-width: 30%;
  overflow: hidden;
  margin: 20px 10px 20px 10px;
  cursor: pointer;
}

.box .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.box:hover .content-overlay {
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.box:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3 {
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
}

.box img {
  width: 100%;
  /* height: 300px; */
  object-fit: cover;
  vertical-align: top;
  opacity: 1;
  /* transition-delay: 0.2s;
  transition-timing-function: ease-in-out; */
}
