.nav_menulist {
  /* width: 10%; */
  flex-direction: column;
  margin: 150px 50px;
  font-size: 1.8rem;
  
}
ul {
  border-left: 1px solid #000;
  list-style-type: none;
  /* list-style-position: outside; */
  margin: 0;
  padding-left: 30px;
}
li {
  color: #000;
  margin-top: 24px;
  line-height: 4rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #000;
  opacity: 0.3;
}

