@media (max-width: 576px) {
  header {
    width: 100%;
    max-width: 576px;
    height: 10%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 6;
  }

  main {
    width: 100%;
    background-color: rgb(235, 235, 235);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav_menulist {
    width: 100%;
    position: fixed;
    font-size: 1.8rem;
    margin: auto;
  }
  .nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* margin-top: 7%; */
    padding: 0;
    justify-content: center;
  }

  .nav li {
    color: #000;
    line-height: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    padding: 10px;
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #000;
  }

  a:visited {
    color: #000;
  }
  .aboutme::after {
    content: "About";
    color: #000;
  }
  .aboutme:hover::after {
    content: "關於我";
    font-size: 1.5rem;
    color: salmon;
  }
  .jessskill::after {
    content: "Skill";
    color: #000;
  }
  .jessexp::after {
    content: "Experience";
    color: #000;
  }
  .jessexp:hover::after {
    content: "工作經歷";
    font-size: 1.5rem;
    color: salmon;
  }
  .jessskill:hover::after {
    content: "技能";
    font-size: 1.5rem;
    color: salmon;
  }
  .Portfilio::after {
    content: "Portfilio";
    color: #000;
  }
  .Portfilio:hover::after {
    content: "作品集";
    font-size: 1.5rem;
    color: salmon;
  }
}
@media (min-width: 576px) and (max-width: 1190px) {
  header {
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    margin: auto;
    z-index: 6;
  }

  main {
    width: 100%;
    background-color: rgb(235, 235, 235);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav_menulist {
    width: 100%;
    position: fixed;
    font-size: 1.8rem;
    margin: auto;
  }
  .nav {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    /* margin-top: 7%; */
    padding: 0;
    justify-content: center;
  }

  .nav li {
    color: #000;
    line-height: 2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    padding: 10px;
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #000;
  }

  a:visited {
    color: #000;
  }
  .aboutme::after {
    content: "About";
    color: #000;
  }
  .aboutme:hover::after {
    content: "關於我";
    font-size: 1.5rem;
    color: salmon;
  }
  .jessskill::after {
    content: "Skill";
    color: #000;
  }
  .jessexp::after {
    content: "Experience";
    color: #000;
  }
  .jessexp:hover::after {
    content: "工作經歷";
    font-size: 1.5rem;
    color: salmon;
  }
  .jessskill:hover::after {
    content: "技能";
    font-size: 1.5rem;
    color: salmon;
  }
  .Portfilio::after {
    content: "Portfilio";
    color: #000;
  }
  .Portfilio:hover::after {
    content: "作品集";
    font-size: 1.5rem;
    color: salmon;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 15%;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    margin: 0vh;
  }

  main {
    width: 85%;
    /* height: 2000px; */
    background-color: rgb(235, 235, 235);
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav_menulist {
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    margin: 150px 50px;
    font-size: 1.8rem;
  }
  .nav {
    border-left: 1px solid #000;
    list-style-type: none;
    /* list-style-position: outside; */
    margin: 0;
  }

  .nav li {
    color: #000;
    /* padding-left: 30px; */
    /* border-left: 1px solid #000; */
    margin-top: 24px;
    line-height: 4rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  a:link {
    color: #000;
  }

  a:visited {
    color: #000;
  }
  .aboutme::after {
    content: "About";
    color: #000;
    /* opacity: 0; */
  }
  .aboutme:hover::after {
    content: "關於我";
    font-size: 1.5rem;
    color: salmon;
  }
  .jessskill::after {
    content: "Skill";
    color: #000;
    /* opacity: 0; */
  }
  .jessexp::after {
    content: "Experience";
    color: #000;
    /* opacity: 0; */
  }
  .jessexp:hover::after {
    content: "工作經歷";
    font-size: 1.5rem;
    color: salmon;
  }
  .jessskill:hover::after {
    content: "技能";
    font-size: 1.5rem;
    color: salmon;
  }
  .Portfilio::after {
    content: "Portfilio";
    color: #000;
    /* opacity: 0; */
  }
  .Portfilio:hover::after {
    content: "作品集";
    font-size: 1.5rem;
    color: salmon;
  }
}
