body {
  background-color: rgb(235, 235, 235);
}
header {
  width: 15%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  right: 0;
  margin: 0vh;
}

.protfolio {
  display: flex;
  /* margin:0; */
}

main {
  width: 85%;
  /* height: 2000px; */
  background-color: rgb(235, 235, 235);
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutBg {
  width: 80%;
  height: 30rem;
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0px;
  background-color: rgb(252, 159, 150);
  box-shadow: 1px 2px 8px rgb(189, 189, 189);
}

.circle {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  overflow: hidden;
  /* position: absolute; */
  /* top: 15px;
    left: 15px;
     */
}
.circle img {
  width: 100%;
  object-fit: cover;
  object-position: 0 -20px;
}

.title {
  margin: 0px 0px 0px 50px;
  width: 50%;
}
.title h3 {
  color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  margin: 50px 0px 0px 0px;
}
.titleB {
  font-size: 10rem;
  margin: 10px 0px 0px 0px;
  /* line-height:100px; */
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: left;
}

.about {
  width: 80%;
  height: 12rems;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  box-shadow: 1px 2px 8px rgb(189, 189, 189);
}

.content {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.about1 {
  width: 90%;
  font-family: "Noto Sans TC", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 30px 30px;
}
.about1 h1 {
  font-size: 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: left;
}
span {
  font-size: 1.5rem;
  line-height: 3rem;
  color: rgb(109, 109, 109);
}
.about2 {
  width: 40%;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 10px 0px 10px 30px;
}
.about3 {
  width: 50%;
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 10px 0px 10px 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.about2 .tdTitle {
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 4rem;
  letter-spacing: 0.8rem;
  color: rgb(31, 31, 31);
}
.about2 td {
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  color: rgb(91, 91, 91);
}
.about2 .tdWeb {
  font-size: 1.3rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 4rem;
  color: rgb(91, 91, 91);
}
.about3 .tdTitle {
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 4rem;
  letter-spacing: 0.8rem;
  color: rgb(31, 31, 31);
}
.about3 td {
  font-size: 1.5rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  color: rgb(91, 91, 91);
}
.about3 .tdWeb {
  font-size: 1.3rem;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 4rem;
  color: rgb(91, 91, 91);
}

.jpg1 {
  width: 50px;
  height: 50px;
  color: blue;
  /* background-color: blue; */
}

.jpg2 {
  width: 50px;
  height: 50px;
  color: blue;
}

.skills {
  width: 38%;
  margin: 10vh 25px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 2px 8px rgb(189, 189, 189);
}
.skill {
  text-align: top;
  margin: 20px;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  line-height: 3.2rem;
}

.skills .h2 {
  color: #fff;
  background-color: salmon;
  line-height: 3rem;
  padding: 1rem;
  font-size: 1.8rem;
  letter-spacing: 1rem;
  text-indent: 1rem;
  position: relative;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 5px rgb(189, 189, 189);
}

.experience {
  width: 100%;
  height: 100rem;
  margin-top: 0vh;
  position: relative;
}
.experience h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 90px;
}
.experience .no1 .line {
  width: 4px;
  height: 80rem;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 1px 0.5px 6px rgb(211, 211, 211);
  /* position: absolute; */
  top: 500px;
}
.experience .no1 .circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: salmon;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.experience .no1 .circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: salmon;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
}
.experience .no1 .circle3 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: salmon;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
}

.experience .text1 {
  width: 35%;
  height: 13vh;
  left: 52%;
  margin-top: 0;
  padding: 20px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
.experience h3 {
  font-size: 1.8rem;
  color: salmon;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 4rem;
}
.experience p {
  font-size: 1.5rem;
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 3rem;
}

.experience .text2 {
  width: 35%;
  /* height: 15vh; */
  margin-left: 10%;
  margin-top: 3%;
  padding: 20px;
  position: absolute;
  top: 280px;
  background-color: rgb(255, 255, 255);
}
.experience .text3 {
  width: 35%;
  /* height: 30vh; */
  margin-left: 10%;
  margin-top: 10%;
  padding: 20px;
  position: absolute;
  top: 51rem;
  right: 12rem;
  background-color: rgb(255, 255, 255);
}
.leftbox h3 {
  font-size: 1.8rem;
  color: salmon;
  font-family: "Inter", sans-serif;
  line-height: 2rem;
}
.ex-work {
  font-size: 1.5rem;
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  list-style: none;
  padding: 0;
}
.ex-work p {
  font-size: 1.5rem;
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  list-style: none;
  padding-left: 2rem;
}
.jess-link {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 8rem;
}
